<p *ngIf="IsLogged()">user works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card" style="margin-top: 150px;">
  <h1>{{FName}} {{LName}}</h1>
  <p class="title">Software Developer, Example</p>
  <p>{{Email}}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>{{phone}}</button></p>
</div>